name: Deploy

on:
  push:
    branches:
      - master

jobs:
  js-test:
    runs-on: ubuntu-latest
    name: "Test JS files"
    steps:
      - uses: actions/checkout@v2

      - name: Test using Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14"

      - name: NPM install
        run: "npm i"

      - name: Run tests
        run: "npm run test:js"

  php-test:
    needs: js-test
    runs-on: ubuntu-latest
    name: "Test PHP files"
    steps:
      - uses: actions/checkout@v2

      - name: Cache composer dependencies
        uses: actions/cache@v1
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}

      - name: Run composer install
        run: composer install -n --prefer-dist
        env:
          APP_ENV: testing

      - name: Prepare Laravel Application
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Run Laravel tests
        run: npm run test:laravel
        env:
          APP_ENV: testing

  deploy-prod:
    needs: php-test
    runs-on: ubuntu-latest
    name: "Deploy to Prod"
    steps:
      - uses: actions/checkout@v2

      - name: NPM install
        run: "npm i"

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          procfile: "web: vendor/bin/heroku-php-apache2 public/"
